.bodyBanner img{
    height: 320px;
    width: 95%;
    /* margin-left: 240px; */
    border-radius: 5px;
    display: flex;
}
@media only screen and (max-width: 480px) {
    .bodyBanner{
        display: none;
    }
}