.stories-block img{
    width: 60%;
    height: 85px;
    border: 3px dashed rgb(22, 157, 211);
    border-radius: 50%;
}
.stories-block{
    display: flex;
    background-color: #dfe1ec;
    height: 120px;
    width: 60%;
    align-items: center;
    border-radius: 10px;
    margin-left: 15%;
    
}
.stories{ 
    display: flex;
    justify-content: space-around;

}
.stories .stories-text{
    margin-left: -150px;
    margin-top: 84px;
}

@media only screen and (max-width: 640px) {
    .stories-block img{
        width: 73%;
        height: 102px;
        margin-top: 17%;
        border: 3px dashed rgb(22, 157, 211);
        border-radius: 50%;
    }
    .stories-block{
        margin-top: 3%;
        padding-bottom: 10px;
        display: flex;
        background-color: #dfe1ec;
        height: 20%;
        width: 100%;
        align-items: center;
        margin-left: 0%;
        scroll-behavior: smooth;
    }
    .stories{ 
        display: flex;
        justify-content: space-around;
    
    }
    .stories .stories-text{
        margin-left: -117px;
        margin-top: 132px;
        font-size: 21px;
    
    }

}

